.button_dashboard.col {
  width: 15% !important;
  display: flex;
  justify-content: center;
}
.title {
  color: red;
  font-size: 30px;
  margin-bottom: 50px;
}
.container_description_dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.img_icon-title {
  width: 40px;
  height: 40px;
}

.title-button {
  margin-top: 3rem;
  text-align: center;
}
.container-button {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.button {
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 10px;
}
